body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
@media (prefers-color-scheme: dark) {
    body {
        background-color: #111111;
        color: white;
    }
    .button {
        filter: invert(100%);
    }
}

.container::after {
    content: "";
    display: block;
    height: 100px;
}
.math_container {
	max-width: 96vw;
    width: 500px;
    height: 100px;
    padding: 7px;
    border: 1px grey solid;
    display: flex;
    justify-content: center;
    align-items: center;
}
.math_container:focus {
    outline: none;
    border: 2px gray solid;
}

.bar {
    display: flex;
    margin-top: 3px;
    margin-bottom: 3px;
}
.keyboard {
    max-height: 48%;
    position: fixed;
    width: 97vw;
    height: 70vw;
    bottom: 0px;
}
.button {
    border: 1px grey solid;
    width: 30px;
    height: 30px;
    opacity: 0.5;
}
.button:hover {
    background: grey;
}
