body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
@media (prefers-color-scheme: dark) {
    body {
        background-color: #111111;
        color: white;
    }
}
.math_container {
    width: 500px;
    height: 150px;
    padding: 7px;
    border: 1px grey solid;
    display: flex;
    justify-content: center;
    align-items: center;
}
.math_container:focus {
    outline: none;
    border: 2px gray solid;
}
.keyboard {
    max-height: 61.8%;
}